@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-color: #2d2d2d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90vh; /*Viewport Heigh*/
    width: 100vw;
}

img {
    width: 150px;
    border-radius: 50%;
    margin: 5px;
}

.linha {
    display: flex;
    flex-direction: row;
}

button {
    font-size: 20px;
    margin: 20px;
    padding: 10px 18px;
    background-color: #5162ff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.2s linear;
    outline: none;
}

button:hover {
    background-color: #3345ec;
}

label, select {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    
}